<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    {% if messages %}
    {% for message in messages %}
    <script>
        alert('{{message}}')
    </script>
    {% endfor %}
    {% endif %}

    <table class="table table-light table-hover table-bordered border-info table-sm">
        <tr class="table-primary text-center">
            <th scope="col">Sr.No</th>
            <th scope="col">PetName</th>
            <th scope="col">Category</th>
            <th scope="col">Breed</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.pname}}</td>
            <td>{{i.category}}</td>
            <td>{{i.breed}}</td>
            <td>{{i.price}}</td>
            <td>{{i.desc}}</td>
            <td><img src="{{i.image.url}}" alt="image" width="100" height="100"></td>
            <td>
                <form action="{% url 'delete' i.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="delete">
                </form>
            </td>
            <td>
                <a href="{% url 'update' i.id %}"><button class="btn btn-success">Update</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>



</body>

</html>